.labyrinth {
    position: absolute;
    width: 600px;
    top: 260px;
    left: 60px;
    animation: labyrinth-enter 0.6s;
    animation-timing-function: ease-in;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}
.labyrinth .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 1em;
    color: transparent;
    font-family: "Chango", sans-serif;
    font-size: 72px;
    background-image: linear-gradient(to top, #FF0063, #FFAAAC);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-align: center;
    z-index: 11;
}
.labyrinth .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 600px;
    height: 1em;
    color: transparent;
    font-family: "Chango", sans-serif;
    font-size: 72px;
    text-align: center;
    text-shadow: 10px 10px 2px black,
                2px 2px black,
                2px -2px black,
                -2px 2px black,
                -2px -2px black;
    z-index: 10;
}
.titleCSS {
    position: absolute;
    font-family: "Teko", sans-serif;
    display: flex;
    flex-flow: row;
    width: 320px;
    top: 50px;
    left: 200px;
}
.titleCSS p {
    flex: 1;
    font-size: 250px;
    font-weight: 900;
    text-align: center;
    text-shadow: 10px 10px 2px black,
                2px 2px black,
                2px -2px black,
                -2px 2px black,
                -2px -2px black;
}
.game-start {
    position: absolute;
    display: block;
    font-family: "Chango", sans-serif;
    font-size: 32px;
    text-align: center;
    background-color: #0063FF;
    box-shadow: 1px 1px #11117F,
        2px 2px #11117F,
        3px 3px #11117F;
    color: #EEEEEE;
    width: 200px;
    line-height: 40px;
    border-radius: 5px;
    top: 406px;
    left: 260px;
    text-decoration: none;
    animation: aparece 1s;
    animation-delay: 2.5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}
.game-start:hover {
    background-color: #63AAFF;
    color: #FFFFFF;
    box-shadow: 1px 1px #0063FF,
        2px 2px #0063FF,
        3px 3px #0063FF;
}
.game-start:active {
    background-color: #63AAFF;
    color: #FFFFFF;
    box-shadow: 0px 0px white;
    transform: translate(3px,3px);
}
#titleC {
    color: #AAFF63;
    animation: letter-effect 3s infinite;
    animation-direction: normal;
}
#titleS1 {
    color: #63AAFF;
    animation: letter-effect 3s infinite;
    animation-direction: normal;
    animation-delay: 0.3s;
}
#titleS2 {
    color: #FFFFFF;
    animation: letter-effect 3s infinite;
    animation-direction: normal;
    animation-delay: 0.6s;
}

@keyframes letter-effect {
    0% {
        transform: scale(1);
        text-shadow: 10px 10px 2px black,
                    2px 2px black,
                    2px -2px black,
                    -2px 2px black,
                    -2px -2px black;
    }
    20% {
        transform: scale(1.1);
        text-shadow: 14px 20px 6px black,
                    2px 2px black,
                    2px -2px black,
                    -2px 2px black,
                    -2px -2px black;
    }
    40% {
        transform: scale(1);
        text-shadow: 10px 10px 2px black,
                    2px 2px black,
                    2px -2px black,
                    -2px 2px black,
                    -2px -2px black;
    }
}
@keyframes labyrinth-enter {
    0% {
        top: -400px;
        transform: scale(5);
    }
    100% {
        top: 260px;
        transform: scale(1);
    }
}
@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}