#start {
    top: 250px;
    left: 110px;
    height: 40px;
    width: 40px;
}
#p1 {
    top: 250px;
    left: 110px;
    height: 40px;
    width: 500px;
}
#g1 {
    top: 250px;
    left: 570px;
    height: 40px;
    width: 40px;
}
#g1back {
    top: 250px;
    left: 570px;
    height: 40px;
    width: 40px;
}
#ob1 {
    top: 100px;
    left: 250px;
    width: 60px;
    height: 340px;
    animation: mov-ob1 4s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
#dica-imovel {
    top: 80px;
    left: 200px;
    width: 320px;
}

@keyframes mov-ob1 {
    0% {
        left: 460px;
    }
    100% {
        left: 200px;
    }
}

.path2 {
    position: absolute;
    top: 240px;
    left: 300px;
    background-color: #FAA;
    width: 20px;
    height: 90px;
    animation: mov-obs1 1s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.round-blue {
    position: absolute;
    top: 200px;
    left: 150px;
    width: 200px;
    height: 200px;
    transform-origin: center;
    border-radius: 50%;
    background-color: #22F;
}
.round-path {
    position: absolute;
    top: 210px;
    left: 160px;
    width: 180px;
    height: 180px;
    transform-origin: center;
    border-radius: 50%;
    background-color: #FAA;
}
.round-opening {
    position: absolute;
    top: 200px;
    left: 245px;
    width: 20px;
    height: 20px;
    transform-origin: 5px 100px;
    background-color: #FAA;
    animation: rotacao 9s infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}